.home-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93vw;
    height: 500px;
    position: relative;
    padding: 100px;
    left: 5.75vw;
    top: 1.25vh;
    border-radius: 30px;
    background-image: linear-gradient( to top right,var(--home-card-color1) 20% ,var(--home-card-color2) 130% );
}

#title{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: var(--icon-color);

}
#name{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: var(--icon-color);
}

#aboutMeButton{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: none;
    padding: 15px;
    width: 250px;
    border-radius: 40px;
    color: var(--icon-color);
    background: var(--home-card-button-color);
}
#aboutMeButton:hover{
    background: var(--home-card-button-color-hover);
}


