.Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--sidebar-color);
    position: fixed;
    min-width:  5vw;
    max-width: 5vw;
    height: 100vh;
    left: 0px;
    padding: 25px 0;
    z-index: 1;
}

.Stack{
    width: 40px;
    background: var(--sidebar-color);
}

.Sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    color: var(--icon-color);
}

.sidebar-text{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: var(--icon-color);
}
